[color]
	branch = auto
	diff = auto
	status = auto
[push]
	default = current
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Vilmos Nebehaj
	email = v.nebehaj@gmail.com
[diff "sopsdiffer"]
	textconv = sops -d
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[init]
	defaultBranch = main
