set completion-ignore-case On
set bind-tty-special-chars Off

set editing-mode vi

"\C-g": abort
"\C-b": backward-char
"\C-h": backward-delete-char
"\C-a": beginning-of-line
"\C-l": clear-screen
"\C-i": complete
"\C-e": end-of-line
"\C-f": forward-char
"\C-s": forward-search-history
"\C-k": kill-line
"\C-n": history-search-forward
"\C-p": history-search-backward
"\C-v": quoted-insert
"\C-w": unix-filename-rubout
#backward-kill-word
"\C-u": unix-line-discard
