set completion-ignore-case On

set editing-mode vi

"\C-g": abort
"\C-b": backward-char
"\C-h": backward-delete-char
"\C-a": beginning-of-line
"\C-l": clear-screen
"\C-i": complete
"\C-e": end-of-line
"\C-f": forward-char
"\C-s": forward-search-history
"\C-k": kill-line
"\C-n": next-history
"\C-p": previous-history
"\C-v": quoted-insert
"\C-w": shell-backward-kill-word
"\C-u": unix-line-discard
