* {
    font-family: CommitMonoNerdFontMono;
    font-size: 12px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: #222222;
    color: #ffffff;
}

#workspaces button {
    padding: 0 6px;
    color: #888888;
    background: transparent;
}

#workspaces button.focused {
    color: #ffffff;
}

#workspaces button:hover {
    background: #333333;
}

#window {
    color: #00cc00;
    padding: 0 8px;
}

#battery,
#cpu,
#memory,
#network,
#clock {
    padding: 0 8px;
}

#battery.warning {
    color: darkorange;
}

#battery.critical {
    color: darkred;
}

#clock {
    color: #ee9a00;
}
